<div class="wrapper">
<p>Hello World!</p>
<input type="text" class="username" placeholder="Email">
<input type="text" class="password" placeholder="Password">
<input type="text" class="users-name" placeholder="Name">
<button type="submit" class="login-btn">Login</button>
<br>
<button type="submit" class="group-btn">Make Group</button>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
//adding user on button click
  $(".login-btn").on("click",()=>{
    let loginObj = {
      username:$(".username").val(),
      password:$(".password").val(),
      name:$(".users-name").val()
    }
    $.post("/login", loginObj,(res) => {
    })
  })
  $(".group-btn").on("click",()=>{
    $(".wrapper").append(
    "<form action='/create' method='POST' role='form'>\
       <h2>Santa Group</h2><label>Group Name</label>\
       <input type='text' name='groupName' placeholder='Enter Group Name'>\
       <label>Group Password</label><input type='text' name='groupPassword' placeholder='Enter Group Password'>\
       <button type='submit' id='group-submit'>Submit</button>\
    </form>")
  })
</script>